img {
    width: 22px;
    height: 22px;
}

.navbar{
    margin-bottom: 0px;
}
a{
    font-size: 20px;
    margin-right: 10px;
}

img{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar{
    width: 100%;
}