<h3>Mis citas</h3>
<div>
    <tabset>
        <tab heading="Proximas citas" id="tab1">
            <div *ngFor="let booking of nextBookings; let i = index">
                <br>
                <div class="card border">
                    <div class="card-header">
                        <h4>{{booking.serviceName}}</h4>
                    </div>
                    <div class="card-body">
                        <p (click)="navigate(booking)">En : {{booking.establisment}}</p>
                        <p>El dia: {{booking.reservationDate}}</p>

                    </div>
                    <button class="btn btn-danger" (click)="openModal(i)">Cancelar cita</button>
                </div>
            </div>

        </tab>
        <tab heading="Citas Pasadas">
            <div *ngFor="let booking of pastBookings">
                <br>
                <div class="card border">
                    <div class="card-header">
                        <h4>{{booking.serviceName}}</h4>
                    </div>
                    <div class="card-body">
                        <p (click)="navigate(booking)">En : {{booking.establisment}}</p>
                        <p>El dia: {{booking.reservationDate}}</p>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>