<h3>Mis favoritos</h3>

<tabset>
    <tab [heading]="service" *ngFor="let service of services">
        <div *ngFor="let establishment of filterEstablismentByService(service); let i = index" (click)=navigateTo(establisment)>
            <br>
            <div class="card border"  (click)="navigateTo(service,establishment.name)">
                <div class="card-header">
                    <h4>{{establishment.name}}</h4>
                </div>
                <div class="card-body">
                    <p>El dia: {{establishment.street}}</p>
                </div>
            </div>
        </div>
    </tab>
</tabset>

