<div class="modal-dialog-centered">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmar cita</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalService.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{service.name}}</p>
      <p>{{service.price}}</p>
      <p>{{service.time}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary mr-auto" (click)="confirmar()" >Confirmar Cita</button>
      <button type="button" class="btn btn-danger" (click)="modalService.hide()">Close</button>
    </div>
  </div>
</div>