<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page" routerLink="..">Home</li>
      <li class="breadcrumb-item" aria-current="page" [routerLink]="navigationPage">{{mainService}}</li>
      <li class="breadcrumb-item active" aria-current="page">{{actualEstablisment.name}}</li>
    </ol>
  </nav>
<div class="profile">

    <div class="card border">
        <div class="card-header">
            <h4>
                {{actualEstablisment.name}}
            </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <carousel [isAnimated]="true" [showIndicators]="false" class="space">
                            <slide class="images" *ngFor="let image of images">
                                <img [src]="image" alt="image">
                            </slide>
                        </carousel>
                        <div class="float-right space">
                            <p>{{actualEstablisment.street}}</p>
                            <p class="card-text">{{actualEstablisment.tlf}}</p>
                            <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="actualEstablisment.rating" [starTemplate]="t" [readonly]="true"
                                [max]="5"></ngb-rating>

                        </div>
                    </div>

                    <br>
                    <div class="row justify-content-left">
                        <tabset>
                            <tab [heading]="category.key" *ngFor="let category of categorys | keyvalue;">
                                <accordion [isAnimated]="true">
                                    <accordion-group *ngFor="let service of category.value">
                                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                                            <div class="pull-left float-left">{{service.name}}</div>
                                            <button class="btn btn-primary float-right"
                                                (click)="book(service)">Reservar</button>
                                        </button>
                                        <p>Precio: {{service.price}}</p>
                                        <p>Duración aprox: {{service.time}}</p>
                                    </accordion-group>
                                </accordion>
                            </tab>
                        </tabset>
                    </div>
                </div>
                <div class="float-right ">
                    <ul class="">
                        <li *ngFor="let daySchedule of actualEstablisment.schedule">{{daySchedule}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div>
        <h4 for="comments" class="text-center">Déjanos tus comentarios</h4>
        <p></p>
        <div class="search-filter">
            <input type="text" [(ngModel)]="commentText">
            <div class="filter-actions">
                    <button class="btn btn-sm btn-primary dropdown-toggle short-button" style="margin-left: 15px;" (click)="push()">Enviar
                    </button>
            </div>
        </div>
        <div *ngFor="let comment of comments.slice().reverse()">
            <p></p>
            <div class="container">

                <img [src]="comment.image" class="rounded-circle comp1">
                <div class="card-boder col-10">
                    <div class="card-header">
                        <h2>{{comment.userName}} {{comment.userSurname}} 
                            
                        <div class="float-right" >
                            {{comment.date}}
                        </div>
                    </h2>
                        
                    </div>
                    <div class="card-body">
                        {{comment.comment}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>