<div class="profile">

    <div class="card border">
        <div class="card-header">
            <h4>
                {{establishment.name}}
            </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="margin-left: 15px;">
                    <div class="row">
                        <carousel [isAnimated]="true" [showIndicators]="false">
                            <slide class="images" *ngFor="let image of establishment.image">
                                <img [src]="image" alt="image">
                            </slide>
                        </carousel>
                        <div class="float-right space">
                            <p>{{establishment.street}}</p>
                            <p class="card-text">{{establishment.tlf}}</p>
                            <ng-template #t let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="establishment.rating" [starTemplate]="t" [readonly]="true"
                                [max]="5"></ngb-rating>

                        </div>
                    </div>

                    <br>
                    <div class="row justify-content-left">
                        <tabset>
                            <tab [heading]="category.key" *ngFor="let category of categorys | keyvalue;">
                                <accordion [isAnimated]="true">
                                    <accordion-group *ngFor="let service of category.value">
                                        <button class="btn btn-link btn-block clearfix centered" accordion-heading type="button">
                                            <div class="pull-left float-left">{{service.name}}</div>
                                            <button class="btn btn-primary"
                                                (click)="book(service)" style="margin-left: auto;">Reservar</button>
                                        </button>
                                        <p>Precio: {{service.price}}</p>
                                        <p>Duración aprox: {{service.time}}</p>
                                    </accordion-group>
                                </accordion>
                            </tab>
                            <div class="plus-sigh">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
                            </div>
                        </tabset>
                    </div>
                </div>
                <div class="float-right">
                    <ul class="">
                        <li *ngFor="let daySchedule of establishment.schedule">{{daySchedule}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div>
        <h4 for="comments" class="text-center">Déjanos tus comentarios</h4>
        <div *ngFor="let comment of comments.slice().reverse()">
            <p></p>
            <div class="container">

                <img [src]="comment.image" class="rounded-circle comp1">
                <div class="card-boder col-10">
                    <div class="card-header">
                        <h2>{{comment.userName}} {{comment.userSurname}} 
                            
                        <div class="float-right" >
                            {{comment.date}}
                        </div>
                    </h2>
                        
                    </div>
                    <div class="card-body">
                        {{comment.comment}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>