<div class="modal-dialog-centered">
    <div class="modal-content">
  
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmar cita</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalService.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h3>Eliminar cita</h3>
        <p>¿Está seguro de que quiere eliminar su cita?</p>
        <p>En : {{actualBook.establisment}}</p>
        <p>El dia: {{actualBook.reservationDate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" (click)="confirm()" >Eliminar cita</button>
        <button type="button" class="btn btn-secondary" (click)="modalService.hide()">Cerrar</button>
      </div>
    </div>
  </div>