li {
    list-style-type: none;
    height: 111px;
}

.border{
    
    width: 300px;
    border: 1px solid black;
}

.settings { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}