.services {
    margin-top: 20px;
}

.border {
    border: 1px solid rgb(3, 10, 21);
}

.space{
    margin-left: 3%;
    margin-right: 11px;
}

.form-control{
    width: 70%;
}

input[type=text], select {
    width: 75%;
    padding: 5px;
    margin: 8px 0;
    margin-left: 10;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    width: 149px;
}

ul {
    list-style-type: none;
}

div.col-4{
    width: min-content;
    background-color: lawngreen;
}