<div class="services">

    <h3>{{serviceMainName}}</h3>
    <input type="text" placeholder="Nombre" [(ngModel)]="searchText">
    <label class="space">Filtrar: </label>
    <button class="btn btn-primary dropdown-toggle short-button" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{actualFilter}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="setFilter(i)" *ngFor="let filter of filters; let i = index">{{filter}}</a>
    </div>
    <p></p>
    <div *ngFor="let establishment of establishments | myfilter: searchText">
        <div class="card border">
            <div class="card-header">
                <h4>
                    <a (click)="navigate(establishment.name)">
                        {{establishment.name}}
                    </a>
                    <div class="float-right" (click)="toggle(establishment)" >
                        <p class="icon" *ngIf="!establishment.isUserFavorite" >&#9825;</p>
                        <p class="icon" *ngIf="establishment.isUserFavorite" >&#9829;</p>
                    </div>
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <img [src]="establishment.image" class="space">
                            <div class="float-right space">
                                <p>{{establishment.street}}</p>
                                <p class="card-text">{{establishment.tlf}}</p>
                                
                                <ng-template #t let-fill="fill">
                                    <span class="star" [class.full]="fill === 100">
                                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                    </span>
                                </ng-template>
                                <ngb-rating [(rate)]="establishment.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                                  
                            </div>
                        </div>

                        <br>
                        <div class="row justify-content-center">
                            <div *ngFor="let service of establishment.services; let i = index">
                                <div *ngIf="i<3" class="col-sm">
                                    <div class="w-100 center">
                                        <label>{{service.name}}</label>
                                    </div>
                                    <div class="w-100 center">
                                        <label>{{service.time}}</label>
                                    </div>
                                    <div class="w-100 center">
                                        <label>{{service.price}}</label>
                                    </div>
                                    <div class="w-100 center">
                                        <button class="btn btn-primary" (click)="book(establishment.name,service)">Reservar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float-right " style="background-color: rgba(0,0,0,.03); height: 100%;">
                        <ul>
                            <li *ngFor="let daySchedule of establishment.schedule">{{daySchedule}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>