.services {
    margin-top: 20px;
}

.border {
    border: 1px solid rgb(3, 10, 21);
}

.space{
    margin-left: 3%;
    margin-right: 11px;
    margin-bottom: 0px
}

.form-control{
    width: 70%;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    margin-left: 10;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin-top: 15px;
}
li{
    margin-bottom: 12px;
}
img{
    width: 150px;
    height: 150px;
}

.center {
    text-align: center;
}

p{
    max-width: 400px;   
}

.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }
  .full {
    color: rgb(214, 214, 106);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(214, 214, 106);
  }

p.icon{
    font-size: 2rem;
    color: rgb(255, 44, 16);
}


.services-container {
    display: flex;
    flex-direction: row;
}

.service-card-container {
   width: 33%;
   min-height: 100%;
}

.service-card {
    height: 100%;
    min-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(153, 151, 151);
    border-radius: 10px 10px 12px 12px;
}

.service-name {
    font-weight: bolder;
    height: 3em;
    border-bottom: 1px solid rgb(211, 211, 211);
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    
}

.service-info { 
    padding: 10px;
}

.book-service-btn{
    width: 100%;
    border-radius: 0 0 10px 10px;

}

.search-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-filter > input {
    margin-right: 10px;
}


.filter-actions { 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 990px) {
    .services-container {
        flex-direction: column;
    }

    .service-card-container {
        width: 100%
    }
    
}