<div class="services">

    <h3>{{serviceMainName}}</h3>
    <input type="text" placeholder="Nombre" [(ngModel)]="searchText">
    <label class="space">Filtrar: </label>
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{actualFilter}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="setFilter(i)" *ngFor="let filter of filters; let i = index">{{filter}}</a>
    </div>


    <p></p>
    <div *ngFor="let service of services | myfilter: searchText">
        <div class="card border">
            <div class="card-header">
                <a (click)="navigate(service.name)">
                    {{service.name}}
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{service.tlf}}</h5>
                <p class="card-text">{{service.schedule}}</p>
                <a (click)="book(service.name)" class="btn btn-primary services">Reservar</a>
            </div>
        </div>
        <hr>
    </div>
</div>