.services {
    margin-top: 20px;
}

.border {
    border: 1px solid rgb(3, 10, 21);
}

.space{
    margin-left: 3%;
    margin-right: 11px;
}

.form-control{
    width: 70%;
}

input[type=text], select {
    width: 75%;
    padding: 5px;
    margin: 8px 0;
    margin-left: 10;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    width: 149px;
}

ul {
    list-style-type: none;
    margin-top: 15px;
}
li{
    margin-bottom: 12px;
}
img{
    width: 150px;
    height: 150px;
}

.center {
    text-align: center;
}

label{
    max-width: 200px;
}

p{
    max-width: 400px;   
}

.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }
  .full {
    color: rgb(214, 214, 106);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(214, 214, 106);
  }