/* You can add global styles to this file, and also import other style files */
.footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
body{
    height: 100%;
}

.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
    display: block;
  }

