<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page" routerLink="..">Home</li>
      <li class="breadcrumb-item" aria-current="page" routerLink="/iniciar_sesion">Iniciar sesión</li>
      <li class="breadcrumb-item active" aria-current="page">Recuperar contraseña</li>
    </ol>
  </nav>
<div class="container">

    <h4>Recuperar contraseña</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
      type="email"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors  }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.touched">Proporcione un email válido</div>
      </div>
    </div>

    <div class="search-filter">
        <button class="btn btn-primary" >Recuperar contraseña</button>

        <div class="filter-actions">
            <div class="flex-end" style="text-decoration: underline;" appOverDirective routerLink="../iniciar_sesion">Volver a iniciar sesión</div>
        </div>
    </div>

    <!-- <div class="form-group">
    </div> -->
  </form>
</div>