.container{
    border: 1px solid rgb(9, 34, 71);
    margin-top: 20px;
    width: 60%;
}

.search-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-filter > input {
    margin-right: 10px;
  }
  
  
  .filter-actions { 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }