img{
    width: 150px;
    height: 150px;
}

.settings { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bi-white {
    fill: rgba(218, 17, 17, 0.5);
}